<div class="card">
    <div class="card-header  bg-info">
        <h6>This is Heading</h6>
    </div>
    <div class="card-body">
        
            <mat-form-field>
                <input matInput placeholder="Test" />
            </mat-form-field>
           
        <mat-checkbox>Check me!</mat-checkbox>
</div>
    <div class="card-footer bg-info">
        <h6>this is Footer</h6>
    </div>
</div>