<div class="card">
    <div class="card-header bg-primary">
        <h6>This is Heading</h6>
    </div>
    <div class="card-body">
        <h1>this is body</h1>
    </div>
    <div class="card-footer bg-info">
        <h6>this is Footer</h6>
    </div>
</div>